/* Style de base pour adoucir un peu Tailwind */
::-webkit-scrollbar {
        width: 6px;
}

::-webkit-scrollbar-thumb {
        background: #9ca3af;
        border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
        background: #6b7280;
}