<configuration>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <!-- <pattern>%red(%-5level) %d{HH:mm:ss.SSS} - %red(%msg%n)</pattern> -->
                        <pattern>[ %blue(%-5level)] - %msg%n</pattern>
                </encoder>


        </appender>

        <!-- Niveau global par défaut -->
        <root level="INFO">
                <appender-ref ref="STDOUT" />
        </root>

        <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->

        <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>[%red(%-5level)] - %d{HH:mm:ss.SSS} - %red(%msg%n)</pattern>
                        <!-- <pattern>%red(%-5level) %d{HH:mm:ss.SSS} - %red(%msg%n)</pattern> -->
                </encoder>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                        <level>ERROR</level>
                </filter>
        </appender>

        <root level="ERROR">
                <appender-ref ref="STDERR" />
        </root>

        <!-- Niveau spécifique à ton package -->
        <logger name="com.aut25.vertx" level="INFO"/>
</configuration>
